/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector * wich apply to all */
* {
 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles applyed to the body , this will apply to all body elements if otherwise specified */

body {

    min-height: 100vh;  /* makes the body viewport height 100% of the viewport */
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}

header {                   /*styled for mobile screens */
    background-color: #ffffff;
    padding: 0 1rem;     /*longhand padding-left padding-right to prevent contecnt stick to side of the screen*/
    position: fixed;
    z-index: 99;      /* to make sure its laierd ontop of other elements that might have a z-index later */
    width: 100%;       /*  position fixed has affected the width of the element , to corect we use width: 100 */
    box-shadow: 0 2px 2px #3a3a3a;       /* makes the header show slitly above the other elements */
    display: flex; /* down code mset the nav-toggle checkbox to the top right */
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none; /* remove link underline */
    color: inherit; 
    letter-spacing: 2px; /* create space between letters */
    color: #252525;

}

h1 {

    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

main {
    background-color: lightblue;
    flex-grow: 1;  /* Makes main contect take any surplus space. Shorthand flex: 1 0 auto; */
    flex-shrink: 0;
    flex-basis: auto;
}

footer {
    background-color: orange;
}


#menu {

    letter-spacing: 4px;  /* create space between letters */
    font-size: 110%; /* makes size a little bigger */
    list-style-type: none; /* removes the bulletpoints from the list */
    
}

#menu > li {             /*target the list from the menu , here we create some vertical space between the items of the list.*/

margin-bottom: 1rem;

}

.active {
    border-bottom: 1px solid #3a3a3a; /* underline the current position in the menu */
}


/* Nav bar styles for the DROPDOWN MENU */

nav {
    position: absolute; /* takes an element outside of the normal flow of the page structure , being position to the nearest ancester */
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;       /* makes the header show slitly above the other elements */
    left: 0; /* stick it to the left of the page */
    padding: 0 1rem; /* make nav items line-up nice below the header */
    display: none; /* the nav bar stay hiden until the user click on it */
    top: 100%; /* Keep the header above the nav elements , this tell the nav elements that have to start from the bottom if its parent */
}

/* MAKE NAV-BAR TOGGLE WHEN IT IS CHECKED */

#nav-toggle:checked~nav {

    display: block;
}

#nav-toggle {
    display: none; /* make checkbox disapear from the drop down button */
}

.nav-toggle-label {

    font-size: 2rem;  /* make the label larger so its easyer to tap */

}
