/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector * wich apply to all */
* {
 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles applyed to the body , this will apply to all body elements if otherwise specified */

body {

    min-height: 100vh;  /* makes the body viewport height 100% of the viewport */
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}

h1, h2, h3 {

    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading {

    display: none;
}

/* HEADER */

header {                   /*styled for mobile screens */
    background-color: #ffffff;
    padding: 0 1rem;     /*longhand padding-left padding-right to prevent contecnt stick to side of the screen*/
    position: fixed;
    z-index: 99;      /* to make sure its laierd ontop of other elements that might have a z-index later */
    width: 100%;       /*  position fixed has affected the width of the element , to corect we use width: 100 */
    box-shadow: 0 2px 2px #3a3a3a;       /* makes the header show slitly above the other elements */
    display: flex; /* down code mset the nav-toggle checkbox to the top right */
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none; /* remove link underline */
    color: inherit; 
    letter-spacing: 2px; /* create space between letters */
    color: #252525;

}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* SIGN-UP Form */
#signup {
    background-image: url("../images/signup-image.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}

/* HERO */


#hero {
    
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.webp) no-repeat center center/cover;  /* / use between position and size sh (cover) makes responsive on all screens*/
    position: relative;
}

#cover-text {

    background-color: rgba(241, 109, 107, .7); /* .7  aplha value opacity */
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {

    color: #ffffff;

}

  /* Gallery page styles */
/*selects the images from the div */
  #photos img {
    width: 100%;
    line-height: 1em;
  }

 
  #photos {

    line-height: 0;
  }

 /* FOOTER */
 #social-networks {

    text-align: center;
    padding: 20px 0; /* above and below sh */
    display: flex;
    justify-content: space-evenly;
    list-style-type: none; /* remove list buletpoints */
    
   
 }

  /* SING-UP */



#menu {

    letter-spacing: 4px;  /* create space between letters */
    font-size: 110%; /* makes size a little bigger */
    list-style-type: none; /* removes the bulletpoints from the list */
    
}

#menu > li {             /*target the list from the menu , here we create some vertical space between the items of the list.*/

margin-bottom: 1rem;

}

#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits-physical>div, #benefits-mental>div {
    line-height: 20px;
    margin-bottom: 20px;
}

.active {
    border-bottom: 1px solid #3a3a3a; /* underline the current position in the menu */
}

#benefits p {
    padding: 0 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

 /* CIRCLE COVER PIC */
#circle-cover-bg {

    background: url(../images/reasons-image.webp) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;

    /* MAKES IT A CIRCLE if start with square div .148 .149 */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;

}
    /* center the image when phone rotate */
#benefits-image {  
display: flex;
align-items: center;
justify-content: center;

}

/* Meetup Times section */
#times {
    background: url('../images/dublin-city.webp') no-repeat center/cover;
    /* Handles responsivity without the need for a media query */
    display: flex;
    flex-wrap: wrap;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /* This will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row */
    flex-basis: 200px;
    flex-grow: 1;
    /* Creates a grid of meetup time divs over the background image */
    border: 2px solid white;
}

#times h3 {
    /* Override the heading colour set in general styles */
    color: #fafafa;
}

/* Nav bar styles for the DROPDOWN MENU */

nav {
    position: absolute; /* takes an element outside of the normal flow of the page structure , being position to the nearest ancester */
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;       /* makes the header show slitly above the other elements */
    left: 0; /* stick it to the left of the page */
    padding: 0 1rem; /* make nav items line-up nice below the header */
    display: none; /* the nav bar stay hiden until the user click on it */
    top: 100%; /* Keep the header above the nav elements , this tell the nav elements that have to start from the bottom if its parent */
}

/* MAKE NAV-BAR TOGGLE WHEN IT IS CHECKED */

#nav-toggle:checked~nav {

    display: block;
}

#nav-toggle {
    display: none; /* make checkbox disapear from the drop down button */
}

.nav-toggle-label {

    font-size: 2rem;  /* make the label larger so its easy to tap */

}

#social-networks i {

    font-size: 160%; /*makes icons larger */
    padding: 5%; /*for some space */
    color: #3a3a3a;
}


    /* MEDIA QUERIES */

    @media screen and (min-width: 576px) {
    /* set the gallery photos in to columns of 2 */
        #photos {

            column-count: 2;
            /* for the space between photos */
            column-gap: 0;
        }
        
    }




/* MEDIA QUERIES -- Tablets and Larger than 768px should be below so it can override phone styles , It only activates when certain criteria are meet ( scren width being reached) */
/* any css writen in media queri will  apply only to tablets or screns > width 768px */

@media screen and (min-width: 768px) {  

    /*header*/
    nav {
        display: block;  /* makes sure nav bar is always displayed */
        position: relative; /*to be back inside the header */
        box-shadow: none; /* we no longer need it */
        width: fit-content; /* no longer take all the space within the header */
        padding-right: 1rem; /* so meniu itesm will not thick to the screen edge */
    }

     #menu {

        display: flex; /*makes menu show in a row*/
        
   }
     #menu > li {

        padding-left: 1rem;
     }
    .nav-toggle-label {

        display: none; /* disable the toggle checkbox */
    }

    /* Adjust the Love Running logo */

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem; /*left and right*/
    }

    /* Main Content */
    main {
        /* push main content down to acomodate the larger header */
        margin-top: 75px;
    }

    /* Reason Section */

    #benefits-physical,
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical > div,
    #benefits-mental > div {

        width: 75%;
    }

    #benefits-mental > div {

        text-align: end;
        align-self: flex-end;
    }

    #photos {

        column-count: 3;
    }

     /* Form */
     #signup {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }
}

}





    /* tablets or larger */


@media screen and (min-width: 992px) {

    #menu a:hover {

        border-bottom: 1px solid #3a3a3a; /* underline the current position in the menu */

    }
}

     /* Desktop */

     @media screen and (min-width: 1200px) {    
        /* Reasons section */
        #benefits {
            display: flex;
            flex-direction: row;
        }
    
        #benefits > div {
            flex: 1;
        }
    
        #benefits-image {
            order: 0
        }
    
        #benefits-mental {
            order: 1;
        }
    
        #benefits-mental > div {
            align-self: flex-start;
        }
    
        #benefits-physical > div {
            align-self: flex-end;
        }

        #photos {

            column-count: 4;
            
        }
    }