/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector * wich apply to all */
* {
 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles applyed to the body , this will apply to all body elements if otherwise specified */

body {

    min-height: 100vh;  /* makes the body viewport height 100% of the viewport */
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}

header {
    background-color: #ffffff;
    padding: 0 1rem;     /*longhand padding-left padding-right to prevent contecnt stick to side of the screen*/
    position: fixed;
    z-index: 99;      /* to make sure its laierd ontop of other elements that might have a z-index later */
    width: 100%;       /*  position fixed has affected the width of the element , to corect we use width: 100 */
    box-shadow: 0 2px 2px #3a3a3a;       /* makes the header show slitly above the other elements */
}
h1 {

    font-family: 'Oswald', sans-serif;
}

main {
    background-color: lightblue;
    flex-grow: 1;  /* Makes main contect take any surplus space. Shorthand flex: 1 0 auto; */
    flex-shrink: 0;
    flex-basis: auto;
}

footer {
    background-color: orange;
}